@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap');

body {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;

}

section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin: 20px 20px 20px 20px;
    padding: 0;
    border: 1px solid #1B6FB6;

}

.plantilla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
}

img.logo {
    width: 100%;
    height: auto;
    margin-top: 40px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 9px -2px gray;
    display: flex;
    position:sticky;
    top: 0;
}
.logoMuro {
    width: 50%;
    height: auto;
}
.material-symbols-outlined {
    width: 35px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
span.hambur {
    height: 35px;
}
.cerrar {
    width: 35px;
}

.footer {
    width: 80vw;
    padding: 15px;
    background-color: white;
    box-shadow: 0 -4px 9px -2px gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer{
    bottom: 0;
    position: fixed;
}

.sectionMuro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
    padding: 0;
    border: 1px solid #1B6FB6;
    height: 80%;
    background-color: #64aff148;
}
.muro {
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    gap: 30px;
    padding: 0 0 70px 0;
}

.container-comment {
    background-color: #fbf6f6ee;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 5px 20px rgb(120, 119, 119);
    border-radius: 10px;
    padding: 10px 0 0 0;
}
p{
    margin: 0;
}
.comment-publish {
    background-color: rgb(244 239 6 / 23%);
    width: 80%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
}
.iconos {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
img.like {
    width: 35px;
}
img.editar {
    width: 35px;
}
img.delete {
    width: 35px;
}
.span{
    display: flex;
    width: 130px;
    flex-direction: row;
    justify-content: flex-end;
}
img.girl {
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: column;
    width: 80vw;
    border-radius: 30px;
    height: 30px;
    font-size: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
    background: rgb(253, 251, 172);
    margin-top: 30px;

}

.userPassword {
    position: relative;

}

.fa-solid {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.4s ease all;
}

.fa-solid:hover {
    color: #1B6FB6
}

.form-register {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 30px;
    font-size: 15px;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
    background: rgb(253, 251, 172)
}

button {
    width: 50vw;
    margin-top: 20px;
    height: 40px;
    font-size: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    border-radius: 30px;
    background: #1B6FB6;
    color: white;
}

button:active {
    transform: scale(.9);
    background-color: #558ab5;
    transition: 0.2s ease all;

}
.buttonLike {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
    background: transparent;
    border: none;
    color: black;
}

.mensaje {
    font-size: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    padding: 20px 10px 0 10px;
    margin: 0;
    text-align: center;
}

.enlaces {
    position: relative;
    font-size: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    margin-top: 20px;
    padding: 3px 3px;
}

.enlaces img {
    width: 25px;
    right: 230px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

a {
    color: #1B6FB6;
    text-decoration: none;
}

a:hover {
    color: black;
}

.enlaces1 {
    font-size: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    padding: 10px 10px;
}

.message {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error-message {
    display: none;
    color: red;
    background-color: rgb(253, 189, 189);
    border: 1px solid red;
    margin: 0;
    padding: 20px 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.message-welcome {
    margin: 2px 2px 2px 2px;
    color: green;
    display: none;
    background-color: rgb(164, 244, 172);
    border: 1px solid green;
    padding: 20px 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.enlacesContenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    top:0;
    margin:0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto;
    background-color: #faf4e6; 
    background-color: rgba(0,0,0,0.4);
}
.content-modal {
    display: flex;
    background-color: #faf4e6;
    padding: 20px;
    border: 5px solid #c6c5ca;
    width: 80%;
    flex-direction: column;
}
.cancel {
    display: flex;
    justify-content: flex-end;
}
.user-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}
button.publish {
    width: 20vw;
    font-size: 15px;
    font-family: 'Fira Sans Condensed', sans-serif;
    border-radius: 30px;
    background: #1B6FB6;
    color: white;
    margin: 0;
}
.newPost {
    width: 95%;
    height: 60px;
}
.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.hambur {
    z-index: 10;
    cursor: pointer;
}
.menu-navegacion {
    position: fixed;
    top: 3%;
    right: 1%;
    width: 30vw;
    height: 30%;
    background-color: #bfdbf4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0,0,0, .5);
}
.menu-navegacion a {
    color: black;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.cerrarSesion {
    width: 100%;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.cerrarSesion :hover {
    background-color: white;
}
.spread {
    transform: translate(0);
}

@media screen and (min-width:768px) {
    section {
        height: 100vh;
    }

    .inputHome {
        width: 80%;

    }

    .user {
        width: 100%;
        height: 40px;
        font-size: 25px;
    }

    button {
        width: 30%;
        height: 50px;
        font-size: 30px;
    }


    .enlaces {
        font-size: 30px;
        position: relative;
    }

    .enlaces img {
        right: 340px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .inputRegister {
        width: 80%;

    }

    .form-register {
        width: 100%;
        height: 40px;
        font-size: 25px;

    }

    .sectionRegister {
        display: flex;
        justify-content: space-evenly;
    }

    .mensaje {
        font-size: 30px;
    }

    .enlaces1 {
        font-size: 30px;
    }
}

@media screen and (min-width:1024px) {

    body {

        background-image: url(img/social.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    section {
        background-color: rgba(255, 255, 255, 0.783);
        display: flex;
        padding: 0;
        border-radius: 10px;
        box-shadow: 0 0 20px 5px #1B6FB6;
        height: 80vh;
    }
    .enlacesContenedor {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    

    .sectionHome {
        margin-top: 15px;
        padding: 10px 0 20px 0;
        width: 500px;
        justify-content: space-evenly;
    }

    .images {
        margin: 20px 20px 0 20px;
    }

    .images p.mensaje {
        margin: 2px 0 15px 0;
        padding: 0;
        font-size:25px ;
    }
    .mensaje{
    font-size: 25px;
    }
   
     img.logo {
        margin-top: 0;
    }

    .inputHome {
        width: 80%;

    }

    .user {
        width: 100%;
        height: 40px;
        font-size: 20px;
    }

    button {
        width: 250px;
        height: 40px;
        font-size:25px;
    }

    .enlaces {
        margin-top: 10px;
        padding: 0;
        font-size: 25px;
    }

    .enlaces img {
        right: 280px;
    }

    .enlaces1 {
        padding: 5px 5px;
        font-size: 25px;
    }

    p.border {
        margin: 10px;
    }

    .sectionRegister {
        margin-top: 15px;
        padding: 10px 0 20px 0;
        width: 500px;
        display: flex;
        justify-content: space-around;
    }

    .inputRegister {
        width: 80%;
    }

    .form-register {
        width: 100%;
        height: 40px;
        font-size: 20px;
    }

    .buttonRegister {
        margin-top: 10px;
    }

    main {
        flex-direction: row;
        justify-content: flex-end;
        align-self: center;
    }
   
}